<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Transaction:</h3>
        <form class="form new-transaction-form">
            <div class="form-group">
                <label for="transaction-type" class="d-inline mr-6">Type:</label>
                <select class="form-select custom-select-lg d-inline" id="tr-type" name="tr-type">
                    <option value="" disabled selected>Select Type</option>
                    <!-- Placeholder option -->
                    <option value="Income">Income</option>
                    <option value="Expense">Expense</option>
                </select>
                <br>
                <label for="transaction-category" class="d-inline mr-3">Category:</label>
                <select class="form-select custom-select-lg d-inline" id="tr-category" name="tr-category">
                    <!-- Placeholder option -->
                    <option value="" disabled selected>Select Category</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tr-date" class="mr-6">Date:</label>
                <input class="custom-select-lg" type="date" id="tr-date" name="tr-date">
            </div>
            <div class="form-group">
                <label for="amount" class="mr-5">Amount:</label>
                <input class="custom-select-lg" type="number" id="tr-amount" name="tr-amount" step="0.01">
                <span id="formattedAmount"></span>
            </div>

            <div class="form-group">
                <label for="transaction-desc">Description:</label>
                <textarea class="form-input" id="tr-desc" name="tr-desc"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    {{#if transactions.length}}
    <div class="col-md-6">
        <h3>Current Transactions:</h3>

        {{#each transactions as |transaction|}}
        <div class="row mb-2 transaction-list">
            <div class="col-md-8">
                <h6>{{transaction.type}} for {{transaction.category}} with amount of:
                    ${{format_amount transaction.amount}}</h6>
                <p>On {{format_date transaction.date}}</p>
                <p>Description: {{transaction.description}}</p>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-danger" data-id="{{transaction.id}}">DELETE</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-info"><a href="/update/{{transaction.id}}">DETAILS</a></button>
            </div>
        </div>
        <hr>
        {{/each}}
        {{!--
        <div>
            <label for="tr-date" class="d-inline">Start Date:</label>
            <input class="custom-select-lg d-inline" type="date" id="start-tr-date" name="start-tr-date">
            <br>
            <label for="tr-date" class="d-inline mr-1">End Date:</label>
            <input class="custom-select-lg d-inline" type="date" id="end-tr-date" name="end-tr-date">
            <br>
        </div> --}}


        <div class="button-container">

            <button class="btn btn-lg btn-dark" id="report-btn" user-id="{{id}}">Chart Report</button>
            <a href="/history?transactions={{transactions}}" class="btn btn-lg btn-info">History</a>
        </div>
    </div>
    {{/if}}
</div>


<script src="/js/dashboard.js"></script>